/*
COLOUR VALUES
background-color: #212a2e;
text-color: #F7F8F8;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    background-color: #212a2e;
    color: #F7F8F8;
    font-family: 'Roboto Slab', serif;
}

.tw-display {
    display: inline-block;
    margin-right: -20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 90px;
}

.cursor {
    display: inline-block;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    font-size: 100px;
}

.tw-div {
    margin: 200px 0px 25px 0px;
}

.intro-div {
    font-size: 25px;
    margin-bottom: 200px;
    text-align: center;
}

.sub-headings {
    font-size: 25px;
}

#aboutme {
    margin-bottom: 100px;
}

#projectsexp {
    margin-bottom: 100px;
}

.card-title {
    text-align: center;
    background-color: #2f3b41;
}

.card-body, .card-text, .card {
    background-color: #2f3b41;
}