/*
COLOUR VALUES
background-color: #212a2e;
text-color: #F7F8F8;
*/

* {
    background-color: #212a2e;
    color: #F7F8F8;
}

p {
    font-size: 20px;
}

.tw-display {
    display: inline-block;
    margin-right: -5px;
}

.cursor {
    display: inline-block;
    font-size: 22px;
}